@tailwind base;
@tailwind components;
@tailwind utilities;


.color-main {
  background: #1678CB;
}

.color-secondary {
  background: #3B8BEA;
}

.color-third {
  background: #68D6F5;
}

.color-accent {
  background: #242424;       
}